## Yelp Reviews EDA

In [1]:
# Encuentra la ubicacion de spark
import findspark
findspark.init()
import pyspark
findspark.find()

'C:\\Spark'

In [2]:
# Inicia la sesion de spark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
conf = pyspark.SparkConf().setAppName('appName').setMaster('local')
sc = pyspark.SparkContext(conf=conf)
spark = SparkSession(sc)

In [3]:
spark

In [4]:
import databricks.koalas as ks
import os

WARNING:root:Found pyspark version "3.4.1" installed. The pyspark version 3.2 and above has a built-in "pandas APIs on Spark" module ported from Koalas. Try `import pyspark.pandas as ps` instead.
WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. Koalas will set it for you but it does not work if there is a Spark context already launched.

In [5]:
# Lectura de datos y transformacion a koalas
df_spark = spark.read.load(r'D:\Proyecto Integrador\Yelp\review-002.json', format='json', inferSchema=True)
df = df_spark.to_koalas()

In [6]:
# Informacion sobre las columnas
df.info()

C:\Users\Matías Tejerina\AppData\Roaming\Python\Python39\site-packages\databricks\koalas\internal.py:1430: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for name, col in reset_index.iteritems():
C:\Users\Matías Tejerina\AppData\Roaming\Python\Python39\site-packages\databricks\koalas\internal.py:1356: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  [

<class 'databricks.koalas.frame.DataFrame'>
Int64Index: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   business_id  6990280 non-null  object
 1   cool         6990280 non-null  int64
 2   date         6990280 non-null  object
 3   funny        6990280 non-null  int64
 4   review_id    6990280 non-null  object
 5   stars        6990280 non-null  float64
 6   text         6990280 non-null  object
 7   useful       6990280 non-null  int64
 8   user_id      6990280 non-null  object
dtypes: float64(1), int64(3), object(5)

In [7]:
# Control de duplicados
df.duplicated().sum()

0

In [8]:
# Visualizacion del dataframe con spark
df_spark.show()

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|XQfwVwDr-v0ZS3_Cb...|   0|2018-07-07 22:09:11|    0|KU_O5udG6zpxOg-Vc...|  3.0|If you decide to ...|     0|mh_-eMZ6K5RLWhZyI...|
|7ATYjTIgM3jUlt4UM...|   1|2012-01-03 15:28:18|    0|BiTunyQ73aT9WBnpR...|  5.0|I've taken a lot ...|     1|OyoGAe7OKpv6SyGZT...|
|YjUWPpI6HXG530lwP...|   0|2014-02-05 20:30:30|    0|saUsX_uimxRlCVr67...|  3.0|Family diner. Had...|     0|8g_iMtfSiwikVnbP2...|
|kxX2SOes4o-D3ZQBk...|   1|2015-01-04 00:01:03|    0|AqPFMleE6RsU23_au...|  5.0|Wow!  Yummy, diff...|     1|_7bHUi9Uuf5__HHc_...|
|e4Vwtrqf-wpJfwesg...|   1|2017-01-14 20:54:15|    0|Sx8TMOWLNuJBWer-0...|  4.0|Cute interior and...|     1|bcjbaE6dDog4jkNY9...|
|04UD14gamNjLY0IDY...|   1|2015-09-23 23:10:31|    2|JrIxlS1TzJ-iCu79u...|  1.0|I am a long term ...|     1|eUta8W_HdHMXPzLBB...|
|gmjsEdUsKpj9Xxu6p...|   0|2015-01-03 23:21:18|    2|6AxgBCNX_PNTOxmbR...|  5.0|Loved this tour! ...|     0|r3zeYsv1XFBRA4dJp...|
|LHSTtnW3YHCeUkRDG...|   0|2015-08-07 02:29:16|    0|_ZeMknuYdlQcUqng_...|  5.0|Amazingly amazing...|     2|yfFzsLmaWF2d4Sr0U...|
|B5XSoSG3SfvQGtKEG...|   0|2016-03-30 22:46:33|    1|ZKvDG2sBvHVdF5oBN...|  3.0|This easter inste...|     1|wSTuiTk-sKNdcFypr...|
|gebiRewfieSdtt17P...|   0|2016-07-25 07:31:06|    0|pUycOfUwM8vqX7KjR...|  3.0|Had a party of 6 ...|     0|59MxRhNVhU9MYndMk...|
|uMvVYRgGNXf5boolA...|   0|2015-06-21 14:48:06|    0|rGQRf8UafX7OTlMNN...|  5.0|My experience wit...|     2|1WHRWwQmZOZDAhp2Q...|
|EQ-TZ2eeD_E0BHuvo...|   0|2015-08-19 14:31:45|    0|l3Wk_mvAog6XANIuG...|  4.0|Locals recommende...|     0|ZbqSHbgCjzVAqaa7N...|
|lj-E32x9_FA7GmUrB...|   0|2014-06-27 22:44:01|    0|XW_LfMv0fV21l9c6x...|  4.0|Love going here f...|     0|9OAtfnWag-ajVxRbU...|
|RZtGWDLCAtuipwaZ-...|   0|2009-10-14 19:57:14|    0|8JFGBuHMoiNDyfcxu...|  4.0|Good food--loved ...|     0|smOvOajNG0lS4Pq7d...|
|otQS34_MymijPTdNB...|   0|2011-10-27 17:12:05|    2|UBp0zWyH60Hmw6Fsa...|  4.0|The bun makes the...|     0|4Uh27DgGzsp6PqrH9...|
|BVndHaLihEYbr76Z0...|   0|2014-10-11 16:22:06|    0|OAhBYw8IQ6wlfw1ow...|  5.0|Great place for b...|     0|1C2lxzUo1Hyye4RFI...|
|YtSqYv1Q_pOltsVPS...|   0|2013-06-24 11:21:25|    0|oyaMhzBSwfGgemSGu...|  5.0|Tremendous servic...|     0|Dd1jQj7S-BFGqRbAp...|
|rBdG_23USc7DletfZ...|   0|2014-08-10 19:41:43|    0|LnGZB0fjfgeVDVz5I...|  4.0|The hubby and I h...|     1|j2wlzrntrbKwyOcOi...|
|CLEWowfkj-wKYJlQD...|   1|2016-03-07 00:02:18|    0|u2vzZaOqJ2feRshaa...|  5.0|I go to blow bar ...|     2|NDZvyYHTUWWu-kqgQ...|
|eFvzHawVJofxSnD7T...|   0|2014-11-12 15:30:27|    0|Xs8Z8lmKkosqW5mw_...|  5.0|My absolute favor...|     0|IQsF3Rc6IgCzjVV9D...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 20 rows

In [9]:
# Informacion sobre las columnas
df_spark.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: double (nullable = true)
 |-- text: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

In [10]:
# Estadisticas descriptivas del dataframe con spark
df_spark.describe().show()

+-------+--------------------+------------------+-------------------+-------------------+--------------------+------------------+----------------------+------------------+--------------------+
|summary|         business_id|              cool|               date|              funny|           review_id|             stars|                  text|            useful|             user_id|
+-------+--------------------+------------------+-------------------+-------------------+--------------------+------------------+----------------------+------------------+--------------------+
|  count|             6990280|           6990280|            6990280|            6990280|             6990280|           6990280|               6990280|           6990280|             6990280|
|   mean|                null|0.4986175088837643|               null|0.32655959417934616|                null|  3.74858374771826|                  null|1.1846089140921394|                null|
| stddev|                null|2.1724598202111864|               null| 1.6887290985540495|                null|1.4787045052556855|                  null| 3.253766966933363|                null|
|    min|---kPU91CF4Lq2-Wl...|                -1|2005-02-16 03:23:22|                 -1|---4VcQZzy_vIIifU...|               1.0|  !\nMilk Bar is po...|                -1|---1lKK3aKOuomHnw...|
|    max|zzyx5x0Z7xXWWvWnZ...|               404|2022-01-19 19:48:45|                792|zzzz1ADBqBEVyfX4l...|               5.0|＼(^o^)／\nThey hav...|              1182|zzzUFM4HFe0SFG0bP...|
+-------+--------------------+------------------+-------------------+-------------------+--------------------+------------------+----------------------+------------------+--------------------+

In [11]:
# Longitud del dataframe
df_spark.count()

6990280

## Analisis por columna

Columna "business_id"

In [12]:
# Cantidad de negocios con reviews
len(df.business_id.unique())

150346

In [13]:
# Top 20 negocios con mas reviews
top20_business_reviews = df.business_id.value_counts().head(20)
top20_business_reviews

_ab50qdWOk0DdB6XOrBitw    7673
ac1AeYqs8Z4_e2X5M3if2A    7516
GXFMD0Z4jEVZBCsbPf4CTQ    6160
ytynqOUb3hjKeJfRj5Tshw    5778
oBNrLz4EDhiscSlbOl8uAw    5264
iSRTaT9WngzB8JJ2YKJUig    5254
VQcCL9PiNL_wkGf-uF3fjg    5146
_C7QiQQc47AOEv4PE3Kong    4969
GBTPC53ZrG1ZBY3DT8Mbcw    4661
6a4gLLFSgr-Q6CZXDLzBGQ    4480
PP3BBaVxZLcJU54uP_wL6Q    4293
1b5mnK8bMnnju_cvU65GqQ    4247
I_3LMZ_1m2mzR0oLIOePIg    4093
VaO-VW3e1kARkU9bP1E7Fw    4034
qb28j-FNX1_6xm7u372TZA    3971
gTC8IQ_i8zXytWSly3Ttvg    3917
yPSejq3_erxo9zdVYTBnZA    3889
wz8ZPfySQczcPgSyd33-HQ    3634
VVH6k9-ycttH3TV_lk5WfQ    3633
IkY2ticzHEn4QFn8hQLSWg    3428
Name: business_id, dtype: int64

Columna 'review_id'

In [14]:
# Cantidad de reviews distintas
len(df.review_id.unique())

6990280

Columna 'user_id'

In [15]:
# Cantidad de usuarios distintos
len(df.user_id.unique())

1987929

In [16]:
# Top 20 usuarios que mas reviews dejaron
df.user_id.value_counts().head(20)

_BcWyKQL16ndpBdggh2kNA    3048
Xw7ZjaGfr0WNVt6s_5KZfA    1840
0Igx-a1wAstiBDerGxXk2A    1747
-G7Zkl1wIWBBmD0KRy_sCw    1682
ET8n-r7glWYqZhuR6GcdNw    1653
bYENop4BuQepBjM1-BI3fA    1578
1HM81n6n4iPIFU5d2Lokhw    1554
fr1Hz2acAb3OaL3l6DyKNg    1447
wXdbkFZsfDR7utJvbWElyA    1396
Um5bfs5DH6eizgjH3xZsvg    1391
qjfMBIZpQT9DDtw_BWCopQ    1324
VL12EhEdT4OWqGq0nIqkzw    1308
bJ5FtCtZX3ZZacz2_2PJjA    1298
pou3BbKsIozfH50rxmnMew    1247
ouODopBKF3AqfCkuQEnrDg    1129
B-s-8VUnuBjGTP3d01jsyw    1087
-kLVfaJytOJY2-QdQoCcNQ    1076
vHc-UrI9yfL_pnnc6nJtyQ    1071
CfX4sTIFFNaRchNswqhVfg    1047
AHRrG3T1gJpHvtpZ-K0G_g    1041
Name: user_id, dtype: int64

In [17]:
# Promedio de reviews por usuario
df.user_id.value_counts().mean()

3.51636300894046

In [18]:
# Desviacion estandar de reviews por usuario
df.user_id.value_counts().std()

12.77087790086078

Columna 'date

In [19]:
from datetime import datetime

In [20]:
# Transforma a tipo datetime
df.date = df.date.astype(datetime)

In [21]:
# Encuentra la review mas antigua
df.date.min()

C:\Spark\python\pyspark\sql\pandas\conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

Timestamp('2005-02-16 03:23:22')

In [22]:
# Encuentra la review mas reciente
df.date.max()

C:\Spark\python\pyspark\sql\pandas\conversion.py:251: FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  series = series.astype(t, copy=False)

Timestamp('2022-01-19 19:48:45')

Columna 'stars'

In [23]:
# Numero de reviews por calificacion
df.stars.value_counts()

5.0    3231627
4.0    1452918
1.0    1069561
3.0     691934
2.0     544240
Name: stars, dtype: int64

Columna 'useful'

In [24]:
# Top 20 numero de calificaciones 'useful' en las reviews
df.useful.value_counts().head(20)

0     3840492
1     1539953
2      687425
3      343742
4      186984
5      112204
6       71214
7       47679
8       34000
9       24783
10      18475
11      14319
12      11103
13       8751
14       7112
15       5633
16       4688
17       3874
18       3287
19       2780
Name: useful, dtype: int64

Columna 'funny'

In [25]:
# Top 20 numero de calificaciones funny en las reviews
df.funny.value_counts().head(20)

0     5894117
1      691994
2      195290
3       82111
4       42254
5       24723
6       15545
7       10178
8        7147
9        5223
10       3739
11       2992
12       2367
13       1896
14       1419
15       1274
16       1014
17        781
18        694
19        599
Name: funny, dtype: int64

Columna 'cool'

In [26]:
# Top 20 numero de calificaciones cool en las reviews
df.cool.value_counts().head(20)

0     5377964
1     1016736
2      296999
3      114763
4       56609
5       32352
6       21530
7       15010
8       11028
9        8085
10       6349
11       4981
12       4011
13       3125
14       2549
15       2105
16       1800
17       1458
18       1270
19       1092
Name: cool, dtype: int64

Columna 'text'

In [27]:
len(df.text.unique())

6974127

In [28]:
from pyspark.sql.functions import udf, split, size
from pyspark.sql.types import IntegerType

def count_words(text):
    if text is not None:
        return len(text.split())
    else:
        return 0

count_words_udf = udf(count_words, IntegerType())

df_spark = df_spark.withColumn('word_count', count_words_udf(df_spark['text']))

In [32]:
# Estadisticas descriptivas del numero de palabras por review
df_spark.select('word_count').summary().show()

+-------+------------------+
|summary|        word_count|
+-------+------------------+
|  count|           6990280|
|   mean|104.77632326602082|
| stddev| 97.92226559475574|
|    min|                 1|
|    25%|                42|
|    50%|                75|
|    75%|               133|
|    max|              1070|
+-------+------------------+